*.pyc
*.swp
*.exe
*.dll
*.bat
*.cmd
*.image
*.smaragd
*.json
*.xcodeproj
*.cached
.DS_Store
todo
/r
/v
/t
/s
smaragd

.idea/
BACKUP/
config
thirdparty/
testdata/
slib/testdata/
packages/
examples/
tmp/

